@media (max-width: 1199.98px) {
  .nav {
    &__list-item {
      margin-right: 1.5%;
    }
  }
}
@media (max-width: 991.98px) {
  .nav {
    font-size: 1.6rem;
    &__list-item {
      margin-right: 0.5%;
    }
  }
  .header__inner {
    height: 600px;
  }
  .header__content {
    margin-top: 230px;
  }
  .header__title {
    font-size: 5.5rem;
  }
  .header__btn {
    margin-top: 80px;
  }
  .title-header {
    font-size: 3.5rem;
  }
  .main__title-header {
    margin-bottom: 20px;
  }
  .aboutUs__paragraph {
    font-size: 1.8rem;
  }
  .btn {
    width: 180px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .offerings {
    &__service {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .offerings__services {
    margin-bottom: 50px;
  }
  .service {
    width: 28%;
  }
  .gallery-slider {
    &__span {
      font-size: 1.5rem;
    }
    &__span_height-more {
    }
  }
  .partners__paragraph {
    margin-bottom: 40px;
  }

  .reviews {
    font-size: 1.4rem;
    &__stars:before {
      width: 30px;
      height: 30px;
    }
    &__star {
      font-size: 2.5rem;
    }
    &__comment {
      font-size: 1.4rem;
    }
    &__avatar {
      width: 80px;
      height: 80px;
      margin-top: -40px;
    }
    &__footer {
      height: 120px;
    }
  }
  .newsroom {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .news-letter {
    font-size: 2.4rem;

    &__img {
      max-width: 200px;
    }
  }
  .location {
    &__subheader {
      font-size: 1.9rem;
      margin-top: 0;
    }
    &__information {
      font-size: 1.4rem;
    }
    &__span-address:before {
      width: 24px;
      height: 30px;
    }
    &__span-telephone:before {
      width: 19px;
      height: 35px;
      margin-top: -58px;
    }
    &__span-email:before {
      width: 24px;
      height: 30px;
      margin-top: -52px;
    }
    &__info {
      margin-bottom: 20px;
    }
    &__social-img {
      max-width: 25px;
    }
  }
  .contact-us {
    padding-top: 25px;
    padding-bottom: 25px;

    &__header {
      margin-bottom: 20px;
    }
    &__input {
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__textarea {
      height: 100px;
      margin-bottom: 25px;
    }
    &__btn_size-s {
      // max-width: 60;
      font-size: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__form {
      font-size: 1.4rem;
    }
  }

  .footer {
    &__column-header {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 767.98px) {
  .header__top {
    margin-top: 0px;
  }
  .nav {
    font-size: 1.4rem;
    &__list-item {
      margin-right: 0.5%;
    }
  }
  .header__inner {
    height: 600px;
  }
  .header__content {
    margin-top: 230px;
  }
  .header__title {
    font-size: 4.5rem;
  }
  .header__btn {
    margin-top: 80px;
  }
}
@media (max-width: 321px) {
  body {
    font-size: 1.4rem;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 575.98px) {
}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)

// // Large devices (desktops, less than 1200px)
