@media (max-width: 1199.98px) {
  .nav {
    &__list-item {
      margin-right: 1.5%;
    }
  }
}
@media (max-width: 991.98px) {
  .nav {
    font-size: 1.6rem;
    &__list-item {
      margin-right: 0.5%;
    }
  }
  .header__inner {
    height: 600px;
  }
  .header__content {
    margin-top: 230px;
  }
  .header__title {
    font-size: 5.5rem;
  }
  .header__btn {
    margin-top: 80px;
  }
  .title-header {
    font-size: 3.5rem;
  }
  .main__title-header {
    margin-bottom: 20px;
  }
  .aboutUs__paragraph {
    font-size: 1.8rem;
  }
  .btn {
    width: 180px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .offerings {
    &__service {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .offerings__services {
    margin-bottom: 50px;
  }
  .service {
    width: 28%;
  }
  .gallery-slider {
    &__span {
      font-size: 1.5rem;
    }
    &__span_height-more {
    }
  }
  .partners__paragraph {
    margin-bottom: 40px;
  }

  .reviews {
    font-size: 1.4rem;
    &__stars:before {
      width: 30px;
      height: 30px;
    }
    &__star {
      font-size: 2.5rem;
    }
    &__comment {
      font-size: 1.4rem;
    }
    &__avatar {
      width: 80px;
      height: 80px;
      margin-top: -40px;
    }
    &__footer {
      height: 120px;
    }
  }
  .newsroom {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .news-letter {
    font-size: 2.4rem;

    &__img {
      max-width: 200px;
    }
  }
  .location {
    &__subheader {
      font-size: 1.9rem;
      margin-top: 0;
    }
    &__information {
      font-size: 1.4rem;
    }
    &__span-address:before {
      width: 24px;
      height: 30px;
    }
    &__span-telephone:before {
      width: 19px;
      height: 35px;
      margin-top: -58px;
    }
    &__span-email:before {
      width: 24px;
      height: 30px;
      margin-top: -52px;
    }
    &__info {
      margin-bottom: 20px;
    }
    &__social-img {
      max-width: 25px;
    }
  }
  .contact-us {
    padding-top: 25px;
    padding-bottom: 25px;

    &__header {
      margin-bottom: 20px;
    }
    &__input {
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__textarea {
      height: 100px;
      margin-bottom: 25px;
    }
    &__btn_size-s {
      // max-width: 60;
      font-size: 1.5rem;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__form {
      font-size: 1.4rem;
    }
  }

  .footer {
    &__column-header {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 50px;
  }
  .main {
    &__aboutUs {
      padding-top: 30px;
    }
    &__offerings {
      padding-top: 30px;
    }

    &__title-header {
      margin-bottom: 10px;
    }
    &__industries {
      padding-top: 30px;
    }
    &__partners {
      padding-top: 70px;
    }
    &__newsroom {
      padding-bottom: 0;
    }
    &__location {
      padding-top: 30px;
    }
  }
  .title-header {
    font-size: 3rem;
  }
  .btn {
    width: 150px;
  }
  .offerings {
    &__head {
      margin-bottom: 50px;
    }
    &__services {
      margin-bottom: 30px;
    }
    &__service {
      width: 45.8%;
      max-height: 260px;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  .service__btn {
    width: 190px;
  }

  .header__top {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;

    &_retrofit {
      margin-top: 0;
    }
  }
  .nav {
    font-size: 1.4rem;
    &__list-item {
      margin-right: 0.5%;
    }
  }
  .gamburger {
    top: 0;
  }

  .header__inner {
    height: 600px;
  }
  .header__content {
    margin-top: 230px;
  }
  .header__title {
    font-size: 4.5rem;
  }
  .header__btn {
    margin-top: 80px;
  }
  .aboutUs {
    &__paragraph {
      font-size: 1.6rem;
    }
    &__photo {
      width: 48%;
    }
    &__btn {
      margin-right: 25px;
    }
    &__btn_appearance {
      width: 120px;
      font-size: 1.8rem;
      padding: 10px 10px;
    }
  }
  .gallery-slider__arrows {
    width: 16.5%;
    height: 20px;
  }

  .reviews {
    &__item {
      display: none;
      //   width: 48.7%;

      &:nth-child(1),
      &:nth-child(2) {
        display: block;
        width: 48.7%;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
  .video {
    height: 180px;
  }
  .newsroom {
    &__btn_appearance {
      padding: 10px 15px;
    }
  }
  .news-letter {
    font-size: 2rem;
    margin-bottom: 20px;
    &__img {
      max-width: 150px;
    }
  }

  .location {
    &__information {
      padding-left: 20px;
      width: 63%;
    }
    &__subheader {
      font-size: 1.8rem;
    }
    &__span {
      margin-right: 15px;
    }
    &__info {
      display: block;
      width: 100%;
    }
  }
  .contact-us {
    padding-top: 20px;
    padding-bottom: 20px;

    &__header {
      margin-bottom: 10px;
    }

    &__input {
      line-height: 37px;
      margin-bottom: 15px;
    }
    &__textarea {
      height: 70px;
      margin-bottom: 15px;
    }
    &__btn_size-s {
      width: 60px;
      padding: 5px 10px;
    }
  }

  .footer {
    &__inner {
      padding: 40px 0;
    }
    &__column {
      width: 21%;
      margin-right: 5%;
    }
    &__link {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 575.98px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 319.98px) {
  body {
    font-size: 1.4rem;
  }
  .logo {
    display: none;
  }
}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)

// // Large devices (desktops, less than 1200px)
