html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  font-family: "Jost", sans-serif;
}
.header {
  width: 100%;
  height: 890px;

  &__inner {
    background: url("../../img/header/backImg.png"), $overlayColor;
    background-blend-mode: multiply;
    background-size: cover;
    height: 890px;
    position: relative;
  }

  &__top {
    width: 100%;
    margin-top: 56px;
    height: 60px;
    line-height: 60px;
    padding: 20px 0;
    position: absolute;
  }
  &__logo {
    float: left;
    // margin-top: 56px;
    margin-right: 11.328125%;
  }
  &__nav {
    float: left;
    // margin-top: 72px;
  }
  &__content {
    position: absolute;
    max-width: 898px;
    color: $textHeaderColor;
    margin-top: 280px;
  }
  &__title {
    font-size: 7.4rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__btn {
    margin-top: 210px;
  }
}
.container {
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5.555555555555556%;
  position: relative;
}

.logo {
  width: 11.796875%;
  &__img {
    max-width: 100%;
    max-height: 61px;
  }
}
.nav {
  width: 76.875%;
  // width: 100%;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  &__list {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    clear: both;
  }

  &__list-item {
    float: left;
    list-style-type: none;
    margin-right: 5.589430894308943%;
  }
  &__list-item:last-child {
    margin-right: 0;
  }
  &__link {
    color: $textHeaderColor;
    text-decoration: none;
  }
}

.btn {
  width: 236px;
  padding: 19px 0px;
  color: $textBtnColor;
  background-color: $backBtn;
  border: none;
  font-size: 2rem;

  &_appearance-back-border {
    border: 1px solid $borderBtnColor;
    background-color: $backgroundBtnColorBlue;
  }

  &_appearance {
    background-color: $backgroundBtnColorWhite;
    color: #000;
    border: 1px solid #0d89ca;
  }
}

.main {
  font-weight: 400;

  &__aboutUs {
    overflow: hidden;
    padding-top: 100px;
  }
  &__industries {
    padding-top: 50px;
  }
  &__offerings {
    padding-top: 50px;
  }

  &__partners {
    padding-top: 50px;
  }
  &__testimonials {
    padding-top: 100px;
  }
  &__blogs {
    padding-top: 50px;
  }
  &__newsroom {
    padding: 50px 0;
  }
  &__location {
    padding: 50px 0;
  }
}
.aboutUs {
  &__content {
    float: left;
    width: 50%;
  }

  &__btn {
    margin-right: 50px;
  }
  &__photo {
    width: 41.015625%;
    float: right;
    height: 525px;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title-header {
    margin-top: 30px;
  }

  &__paragraph {
    margin-top: 55px;
    font-size: 2.4rem;
    width: 614px;
  }
}

.title-header {
  font-size: 4.8rem;
  font-weight: 400;
}

.offerings {
  text-align: center;
  &__head {
    text-align: center;
  }
  &__services {
    margin-top: 70px;
  }
  &__service:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
  }
  &__service {
    margin-right: 2.03125%;
  }
  &__service:last-child {
    margin-right: 0;
  }
}

.service {
  width: 20.3125%;
  height: 300px;
  float: left;
  text-align: center;
  background: $serviceBackground;
  box-shadow: $serviceBoxShadow;
  padding: 1.5625%;
  position: relative;
  &_backcolor-orange:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter1;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-yellow:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter2;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-gold:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter3;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-gray:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter4;
    box-shadow: $serviceBoxShadow;
  }
  &__title {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  &__img {
    max-width: 100%;
    max-height: 110px;
  }
  &__paragraph {
    font-size: 1.4rem;
  }
  &__btn {
    margin-top: 70px;
  }
}
.industries {
  text-align: center;
}

.gallery-slider {
  font-size: 0;
  width: 1212px;
  margin: 0 auto;
  height: 520px;
  position: relative;
  text-align: left;

  &__inner {
    overflow: hidden;
  }
  &__link {
    width: 100%;
    position: relative;
    background-color: #000;
    color: $industriesColor;
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }
  &__group-items {
    // width: 825%;
    width: 10000px;
    transition: transform 0.7s linear;
  }
  &__arrows {
    width: 9.375%;
    font-size: 1.6rem;
    position: absolute;
    left: 45%;
    bottom: 0px;
    text-align: center;
    line-height: 45px;
    color: #fff;
  }

  &__item {
    width: 3.5%;
    // max-height: 350px;
    float: left;
    margin-top: 0.5%;
    margin-right: 0.26%;
    transition: all 0.7s linear;
    &_size-more {
      width: 4.6%;
      // transition: width 1s ease-out, height 1s ease-out;
      margin-top: 0;
    }
  }

  &__span {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    bottom: 0;
    left: 0;
    line-height: 103px;
    background-color: $industriesBackColor;
    text-align: center;
  }
  &__span_height-more {
    line-height: 130px;
  }
  &__arrow-left {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-right: 5%;
    cursor: pointer;
    &:after {
      content: "<";
      text-align: center;
    }
  }
  &__arrow-left:hover {
    background-color: rgba(94, 94, 94, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  &__arrow-right {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;

    &:after {
      content: ">";
      text-align: center;
    }
  }
  &__arrow-right:hover {
    background-color: rgba(94, 94, 94, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

.partners {
  text-align: center;

  &__paragraph {
    margin-top: 50px;
  }
  &__images {
    margin-top: 70px;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}

.testimonials {
  text-align: center;

  &__menu {
    margin: 30px 0;
  }

  &__reviews {
    margin-top: 60px;
  }
  &__link {
    padding: 0 20px;
    text-decoration: none;
    color: rgba(8, 26, 43, 0.75);
    &_active {
      border-bottom: 2px solid rgba(8, 26, 43, 0.6);
    }
  }
}

.reviews {
  &__item {
    width: 31.25%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-right: 2.421875%;
  }
  &__body {
    height: 248px;
    padding: 10px 13.75% 0 13.75%;
    margin-bottom: 70px;
    // overflow: hidden;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__stars {
    position: relative;
  }
  &__stars:before {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../../img/testimonials/stars/img1.svg");
    left: 2.5%;
    background-repeat: no-repeat;
    position: absolute;
  }
  &__star {
    font-size: 3.5rem;
    color: #d2c339;
    margin-left: -2.3%;
  }
  &__star:nth-child(1) {
    margin-left: 0;
  }
  &__comment {
    font-size: 1.6rem;
  }
  &__footer {
    background-color: #a2b8c1;
    height: 152px;
    padding: 0 8.5% 20px 8.5%;
    text-align: center;
    color: #fff;
    // margin: 0 -100px -100px;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    // position: absolute;
    // left: ;
  }
  &__adress {
    height: 60px;
    margin: 10px 0;
  }
  &__img {
    margin-right: 7.5%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__videoFrame {
    width: 40%;
    height: 350px;
    margin-right: 3%;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }
  &_disabled {
    display: none;
  }
}

.blogs {
  overflow: hidden;
  text-align: center;
  &__inner {
    position: relative;
  }
  &__btn {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
.note-blog {
  max-width: 48.4375%;
  margin-right: 3.125%;
  float: left;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  &_decor-orange:after {
    content: "";
    width: 100%;
    height: 10px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: #eb7b37;
  }
  &_decor-yellow:after {
    content: "";
    width: 100%;
    height: 10px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: #fad606;
  }

  &:last-child {
    margin-right: 0;
  }
  &__img {
    width: 100%;
    // padding: 5% 5% 0 5%;
    max-height: 460px;
    object-fit: cover;
  }
  &__release {
    position: relative;
    color: #a88427;
    margin-top: 10px;
    &-date {
      position: absolute;
      left: 10%;
    }
    &-time {
      position: absolute;
      right: 10%;
    }
  }
  &__paragraph {
    font-size: 2.4rem;
    padding: 30px 7% 5px 7%;
    font-weight: 500;
  }

  &__btn {
    margin-bottom: 30px;
  }
}

.newsroom {
  text-align: center;

  &__inner {
    position: relative;
  }
  &__btn {
    right: 0px;
    top: 0px;
    position: absolute;
  }
}

.news-letter {
  text-align: left;
  overflow: hidden;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
  font-size: 3.6rem;
  &__paragraph {
    font-weight: 500;
  }
  &__release {
    font-weight: 300;
  }
  &__img {
    max-width: 250px;
    float: left;
    margin-right: 5.46875%;
  }
}

.location {
  text-align: center;
  overflow: hidden;
  &__subheader {
    font-size: 2.8rem;
    margin: -20px 0 40px 0;
  }
  &__info {
    // text-align: center;
    width: 100%;
  }
  &__information {
    float: left;
    // text-align: left;
    font-size: 1.6rem;
    width: 65.953125%;
    position: relative;
    margin-right: 0%;
  }

  &__span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    position: relative;
    margin-right: 70px;
    text-align: center;

    &-address:before {
      content: "";
      width: 30px;
      height: 40px;
      background: url("../../img/location/location-ico.svg") no-repeat;
      margin-top: -40px;
      left: 45%;
      position: absolute;
    }
    &-telephone:before {
      content: "";
      width: 30px;
      height: 40px;
      background: url("../../img/location/phone-ico.svg") no-repeat;
      margin-top: -52px;
      left: 45%;
      position: absolute;
    }
    &-email:before {
      content: "";
      width: 30px;
      height: 40px;
      background: url("../../img/location/mail-ico.svg") no-repeat;
      margin-top: -46px;
      left: 45%;
      position: absolute;
    }
  }
  &__span:first-child {
    width: 33.333%;
  }
  &__span:last-child {
    margin-right: 0px;
  }
  &__map {
    margin-top: 40px;
    width: 70%;
  }
  &__social {
    // margin: 30px 0 0 7%;
    margin-top: 15px;

    &-img {
      max-width: 33px;
      max-height: 33px;
      margin-right: 3%;
    }
  }
}
.contact-us {
  width: 33.046875%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 20px;
  padding: 1px;
  float: left;
  &__header {
    display: inline-block;
    margin: 50px 0;
    font-weight: 600;
  }

  &__form {
    width: 80%;
    margin: 0 auto;
    font-size: 1.7rem;
    font-weight: 500;
  }
  &__input {
    line-height: 53px;
    width: 90%;
    padding: 0 5%;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    display: block;
    margin-bottom: 45px;
    outline: none;
  }
  &__textarea {
    width: 90%;
    height: 153px;
    padding: 10px 5%;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    display: block;
    margin-bottom: 45px;
    resize: none;
    outline: none;
  }
  &__btn {
    margin: 20px 0 50px 0;
  }
  &__btn_size-s {
    max-width: 10%;
    display: block;
    padding: 10px 45px;
  }
}

.footer {
  background-color: #0d89ca;
  color: #fff;

  &__inner {
    padding: 60px;
    overflow: auto;
  }
  &__column {
    // width: 17.421875%;
    width: 19.22413793103448%;
    float: left;
    margin-right: 7.701149425287356%;
    &-header {
      font-size: 2.4rem;
      font-weight: 600;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
  }
  &__link {
    display: block;
  }

  &__bottom {
    line-height: 62px;
    background: rgba(#001c27, 0.75);
    text-align: center;
    clear: both;
  }
}
