html {
  font-size: 10px;
}
body {
  font-size: 2rem;
  font-family: "Jost", sans-serif;
}
.header {
  width: 100%;
  height: 890px;

  &__inner {
    background: url("../../img/header/backImg.png"), $overlayColor;
    background-blend-mode: multiply;
    background-size: cover;
    height: 890px;
    position: relative;
  }
  &__logo {
    float: left;
    margin-top: 56px;
    margin-right: 11.328125%;
  }
  &__nav {
    float: left;
    margin-top: 72px;
  }
  &__content {
    position: absolute;
    max-width: 898px;
    color: $textHeaderColor;
    margin-top: 280px;
  }
  &__title {
    font-size: 7.4rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__btn {
    margin-top: 210px;
  }
}
.container {
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5.555555555555556%;
}

.logo {
  width: 11.796875%;
  &__img {
    max-width: 100%;
    max-height: 61px;
  }
}
.nav {
  width: 76.875%;
  font-size: 1.8rem;
  font-weight: 400;
  &__list {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    clear: both;
  }

  &__list-item {
    float: left;
    list-style-type: none;
    margin-right: 5.589430894308943%;
  }
  &__list-item:last-child {
    margin-right: 0;
  }
  &__link {
    color: $textHeaderColor;
    text-decoration: none;
  }
}

.btn {
  width: 236px;
  padding: 19px 0px;
  color: $textBtnColor;
  background-color: $backBtn;
  border: none;
  font-size: 2rem;
}

.main {
  font-weight: 400;

  &__aboutUs {
    overflow: auto;
    padding: 50px 0;
    margin-top: 50px;
  }
  &__offerings {
    padding: 50px 0;
  }
}
.aboutUs {
  &__content {
    float: left;
    width: 50%;
  }
  &__btn_appearance-back-border {
    border: 1px solid $borderBtnColor;
    background-color: $backgroundBtnColorBlue;
  }
  &__btn {
    margin-right: 50px;
  }
  &__btn_appearance {
    background-color: $backgroundBtnColorWhite;
    color: #000;
    border: 1px solid #0d89ca;
  }
  &__photo {
    width: 41.015625%;
    float: right;
    height: 525px;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title-header {
    margin-top: 30px;
  }

  &__paragraph {
    margin-top: 55px;
    font-size: 2.4rem;
    width: 614px;
  }
}

.title-header {
  font-size: 4.8rem;
  font-weight: 400;
}

.offerings {
  text-align: center;
  &__head {
    text-align: center;
  }
  &__services {
    margin-top: 70px;
  }
  &__service:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
  }
  &__service {
    margin-right: 2.03125%;
  }
  &__service:last-child {
    margin-right: 0;
  }
}

.service {
  width: 20.3125%;
  height: 300px;
  float: left;
  text-align: center;
  background: $serviceBackground;
  box-shadow: $serviceBoxShadow;
  padding: 1.5625%;
  position: relative;
  &_backcolor-orange:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter1;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-yellow:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter2;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-gold:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter3;
    box-shadow: $serviceBoxShadow;
  }
  &_backcolor-gray:after {
    content: "";
    width: 50%;
    height: 18px;
    position: absolute;
    top: -28px;
    left: 0;
    background-color: $serviceAffter4;
    box-shadow: $serviceBoxShadow;
  }
  &__title {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  &__img {
    max-width: 100%;
    max-height: 110px;
  }
  &__paragraph {
    font-size: 1.4rem;
  }
  &__btn {
    margin-top: 100px;
  }
}
.industries {
  padding: 50px 0;
}
.gallery-slider {
  font-size: 0;
  width: 1212px;
  margin: 0 auto;
  height: 520px;
  position: relative;

  &__inner {
    overflow: hidden;
  }
  &__link {
    width: 100%;
    position: relative;
    background-color: #000;
    color: $industriesColor;
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }
  &__group-items {
    // width: 825%;
    width: 10000px;
    transition: transform 0.7s linear;
  }
  &__arrows {
    width: 9.375%;
    font-size: 1.6rem;
    position: absolute;
    left: 45%;
    bottom: 0px;
    text-align: center;
    line-height: 45px;
    color: #fff;
  }

  &__item {
    width: 3.5%;
    // max-height: 350px;
    float: left;
    margin-top: 0.5%;
    margin-right: 0.26%;
    transition: all 0.7s linear;
    &_size-more {
      width: 4.6%;
      // transition: width 1s ease-out, height 1s ease-out;
      margin-top: 0;
    }
  }

  &__span {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    bottom: 0;
    left: 0;
    line-height: 103px;
    background-color: $industriesBackColor;
    text-align: center;
  }
  &__span_height-more {
    line-height: 130px;
  }
  &__arrow-left {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-right: 5%;
    cursor: pointer;
  }
  &__arrow-left:hover {
    background-color: rgba(94, 94, 94, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  &__arrow-right {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(94, 94, 94, 0.7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
  }
  &__arrow-right:hover {
    background-color: rgba(94, 94, 94, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
}

.partners {
  text-align: center;
  padding: 50px 0;
  &__paragraph {
    margin-top: 50px;
  }
  &__images {
    margin-top: 70px;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}
