$color1: rgba(5, 138, 204, 1);
$color2: #ffffff;

$overlayColor: $color1;
$textHeaderColor: $color2;

// ======= The BUTTON variables ======== //

$colorBtn1: #cea93a;
$colorBtn2: #0d89ca;

$backBtn: $colorBtn1;
$textBtnColor: $color2;
$borderBtnColor: $colorBtn2;

$backgroundBtnColorBlue: $colorBtn2;
$backgroundBtnColorWhite: $color2;

// ======= Section Offerings ======== //

$colorOffer1: #eb7b37;
$colorOffer2: #fad606;
$colorOffer3: #c6a136;
$colorOffer4: #a2b8c1;
$colorOffer5: 0px 4px 6px 0px rgb(0, 0, 0, 0.3);
$colorOffer6: rgba(162, 184, 193, 0.05);

$serviceAffter1: $colorOffer1;
$serviceAffter2: $colorOffer2;
$serviceAffter3: $colorOffer3;
$serviceAffter4: $colorOffer4;

$serviceBoxShadow: $colorOffer5;
$serviceBackground: $colorOffer6;

// ======= Section Industries ======== //
$colorIndustries1: rgba(8, 26, 43, 0.8);
$colorIndustries2: #fff;

$industriesBackColor: $colorIndustries1;
$industriesColor: $colorIndustries2;
