$color1: rgba(5, 138, 204, 1);
$color2: #ffffff;

$overlayColor: $color1;
$textHeaderColor: $color2;

// ======= The BUTTON variables ======== //

$colorBtn1: #cea93a;
$colorBtn2: #0d89ca;

$backBtn: $colorBtn1;
$textBtnColor: $color2;
$borderBtnColor: $colorBtn2;

$backgroundBtnColorBlue: $colorBtn2;
$backgroundBtnColorWhite: $color2;
